%matplotlib inline
import warnings
import sklearn
import itertools
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
warnings.filterwarnings("ignore")